.filter-bar-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 16px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.05);
    font-family: Mulish;

    .title {
        font-size: 10px;
        font-weight: 800;
        text-transform: uppercase;
    }

    .location-wrapper {
        padding: 12px 26px;

        .location {
            font-size: 14px;
            font-weight: 400;
            color: #333333;
            margin-top: 5px;
        }
    }
    .guest-wrapper {
        padding: 12px 32px;
        border-left: 1px solid #f2f2f2;
        border-right: 1px solid #f2f2f2;

        .guest {
            font-size: 14px;
            font-weight: 400;
            color: #bdbdbd;
            margin-top: 5px;
        }
    }
    .search-wrapper {
        display: grid;
        place-items: center;
    }
}
