.location-options-wrapper {
    padding: 40px 26px;

    .location-option {
        margin-bottom: 34px;
        cursor: pointer;

        .location {
            font-family: Mulish;
            font-size: 14px;
            color: #4f4f4f;

            .location-pin {
                margin-right: 8px;
                font-size: 18px;
                color: black;
                line-height: 16px;
            }
        }
    }
}

// @media only screen and (max-width:425px) {
//     .location-options-wrapper {
//         padding: 40px 26px;

//         .location-option {
//             margin-bottom: 34px;
//             cursor: pointer;

//             .location {
//                 font-family: Mulish;
//                 font-size: 14px;
//                 color: #4f4f4f;

//                 .location-pin {
//                     margin-right: 8px;
//                     font-size: 18px;
//                     color: black;
//                     line-height: 16px;
//                 }
//             }
//         }
//     }
// }
