.guest-modify-wrapper {
    margin-bottom: 50px;
    font-family: Mulish;
    font-size: 14px;
    .title {
        font-weight: 700;
        color: #333333;
    }

    .age-range {
        color: #bdbdbd;
        margin-bottom: 12px;
    }
}
