.property-image {
    width: 100%;
    height: 270px;
    border-radius: 24px;
    object-fit: cover;
}

@media only screen and (max-width: 425px) {
    .property-image {
        height: 238px;
    }
}
